/* first page header */

.header {
  width: 100%;
}

body{
  margin-left: 10%;
  margin-right: 10%;
}


.main {
  padding-top: 40px;
  height: 500px;
  
}
.header header {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

li {
  margin-right:30px;          

  vertical-align: baseline;    
}

.getdemo {
  flex-wrap: nowrap;
  margin-right: 0px;
  margin-left: 10px;
  display: flex;
  font-size: 16px;
  font-weight: 550;
  width: 100px;
  height: 30px;
  background-color: #fcded2;
  color: #ff4700;
  position: relative;
  top: -5px;
  border-radius: 7px;
}

.demo {
  display: flex;
  position: relative;
  top: -15px;
  right: -10px;
}


.middle li h4 {
  font-size: 13px;
  font-weight: 550;
  cursor: not-allowed;
  font-size: 15px;
  justify-content: space-between;
}

.right li:first-child {
  font-size: 16px;
  font-weight: 550;
  margin-left: 100px;
}



.left:first-child {
  margin-right: 100px;
}

/* first page main */

.main h2 {
  font-size: 50px;
  font-family: sans-serif;
}

.main p {
  font-weight: bold;
  font-size: 19px;
}

.main input {
  height: 40px;
  width: 240px;
  padding-left: 15px;
  border-radius: 10px;
}

.main h6 {
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #2f2ff9;
  height: 46.3px;
  width: 120px;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 465px;
  right: 1020px;
}

.main a {
  text-decoration: none;
  background-color: #2f2ff9;
  
}

.main img {
  z-index: 0;
  position: relative;
  top: -420px;
  right: -460px;
  height: 350px;
}

section.company {
  text-align: center;
  
}

.company h6 {
  font-size: 15px;
  font-family: Robot;
}

/* second */

.second {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  background-color: #fff;
}

.hc {
  height: 500px;
  width: 473px;
}

.second h2 {
  font-size: 40px;
  font-family: sans-serif;
  display: inline;
  max-height: 100px;
}

.second-right {
  padding-left: 100px;
}

.second-left-pad {
  padding-left: 150px;
}

.edit {
  height: 24px;
  width: 24px;
  display: block;
}

.second-p-f {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arial Narrow Bold' ;
}

.edit-round {
  background-color: rgb(255, 121, 68);
  height: 50px;
  width: 50px;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(18, 17, 17, 0.2);
}

.second-btn {
  height: 30px;
  width: 100px;
  background-color: rgb(16, 16, 252);
  border-radius: 7px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 4px 8px rgba(18, 17, 17, 0.2);

}

.second-btn-a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  right: -8px;
  bottom: -2px;
  
}



.second p.grey {
  color: rgb(149, 147, 147);
}

.second h6 {
  color: gray;
  font-size: 16px;
}

.third {
  background-color: #fcf8f8;
  width: 100%;
}

.lightning-white {
  background-color: rgb(255, 213, 0);
}



.film-white {
  background-color: rgb(66, 211, 66);
}

/* Ffth */

.fifth h1 {
  font-size: 42px;
  font-weight: bold;
  display: block;
  position: relative;
  right: -40px;
  padding-bottom: 30px;
}


#1, #2, #3 {
  display: flex;
  flex-wrap: nowrap;
}

.re {
  width: 350px;
  border-radius: 10px;
}

.fifth-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.pl {
  position: relative;
  background-color: #fff;
  top: -280px;
  right: -287px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-content: center;
  text-align: center;
}

.fifth {
  padding-top: 100px;
}

.hub1 {
  background-color: #fff;
  width: 100px;
  height: 40px;
  position: relative;
  top: -100px;
  right: -20px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}

.fifth h6 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: -120px;
}

/* sixth */

.person1 {
  width: 500px;
}

.logo-sixth {
  height: 32px;
}

.sixth {
  display: flex;
  justify-content: space-evenly;
}

.sixth-bet {
  width: 80px;
}

.sixth h6 {
  position: relative;
  top: -67px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.sixthlogo {
  position: relative;
  top: -60px;
}

h6.name-- {
  font-size: 15px;
  font-family: serif;
  font-weight: 200;
  margin-top: 2.5px;
  margin-bottom: 2.25px;
}

h6.job {
  color: rgb(176, 174, 174);
  margin-top: 0 auto;
  margin-top: 2.5px;
}


